.App {
  position: relative;
  height: 95vh;
  margin: auto;
  width: 95%;
  border: 3px solid rgb(100, 100, 241);
  padding: 1px;
}
.paginate1 {
  margin-top: 100px;
  position: fixed;
  display: block;
  left: 700px;
  top: 700px;
}
.paginatemain {
  width: 60%;
  margin: 100px auto;
}
/* .div2 {
  background-color: aqua;
} */
